@font-face {
  font-family: "font";
  src: url(./font.woff2);
}
* {
  font-family: "font";
  box-sizing: border-box;
  user-select: none;
}
body {
  background-color: #111;
  color: white;
}
main {
  margin: 0 auto;
  background-color: #222;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}
p {
  margin: 0;
}
button {
  background-color: #656;
  color: white;
  border: none;
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
  cursor: pointer;
}
.frame {
  display: none;
}
